/*-----------------------------------------------*/
/*-----BASIC SETUP------*/
/*-----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clear-fix {zoom: 1}
.clear-fix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-----------------------------------------------*/
/*-----REUSABLE COMPONENTS-----*/
/*-----------------------------------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*-----------HEADINGS-------*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;    
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #219251;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
 font-size: 110%;
 margin-bottom: 15px;
}


/*-------PARAGRAPH------*/

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 3%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/*-------PARAGRAPH------*/

.icon-big{
    font-size: 350%;
    display: block;
    color: #219251;
    margin-bottom: 10px;
}

/*-------BUTTONS------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #0a8a9b;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #219251;
    border: 1px solid #219251;
    color: #fff;
    margin: 20px;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid #0a8a9b;
    background-color: #0a8a9b;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #219251;
    color: #219251;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #0a8a9b;
    color: white;
}

/*-----------------------------------------------*/
/*-----HEADER-----*/
/*-----------------------------------------------*/


header{
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.74)), to(rgba(233, 3, 3, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(233, 3, 3, 0));
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.hero-video_content{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-60%, -50%);
            transform: translate(-60%, -50%);
}

.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/*-------Main Nav------*/

.main-nav{
    float: right;
    list-style: none;
    margin-top: 35px;
    font-weight: 300;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.5s;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 4px solid #219251;
}

/*-------Sticky Nav------*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #219250d0;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 20px;
}
.sticky .logo{
    height: 60px;
    margin-top: 2px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    font-size: 90%;
    padding: 18px 0;
    color: #fff;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{
    border-bottom: 4px solid #2fc6da;
}

/*-------mobile Nav------*/

.mobile-nav-icon {
 float: right;
 margin-top: 30px;
 cursor: pointer;
 display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}

/*-----------------------------------------------*/
/*-----TECH IMAGES-----*/
/*-----------------------------------------------*/

.section-images{
    padding: 0;
    margin: 0;
}

.tech-showcase{
    list-style: none;
    width: 100%;
}

.tech-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.tech-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.tech-photo img{
    opacity: 0.6;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.tech-photo img:hover{
    -webkit-transform: scale(1.055);
            transform: scale(1.055);
    opacity: 1;
}


/*-----------------------------------------------*/
/*-----HOW TO GET IT - STEPS-----*/
/*-----------------------------------------------*/

.section-steps{
    background-color: #06fc0623;
}

.steps-box:first-child{
    text-align: right;
    padding: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 90%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step div{
    color: #219251;
    border: 2px solid #219251;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*-----------------------------------------------*/
/*-----HOW TO USE IT-----*/
/*-----------------------------------------------*/

.video-uses video{
    width: 100%;
    opacity: 1;
    
}

.video-uses_content {
    background-color: black;
    
}

.text-uses{
    margin: 0; 
                   /*Esta vaina es para que le pueda sacar el margin tanto a los video como al texto*/
}

.texto-uses p{
    padding: 15% 10%;               /*Esta vaina es para que solo el texto sea blanco mientras el video sea negro*/    
}

.section-uses p{
    margin-bottom: 80px;
}

/*-----------------------------------------------*/
/*-----TESTIMONIALS-----*/
/*-----------------------------------------------*/

.testimonials-video{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.testimonials-video_content{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.section-testimonials{
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.507)), to(rgba(0, 0, 0, 0.507)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.507));
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;
}
.testimonials-container{
    position: relative;
    top: 0;
    padding: 80px;
    color: #fff;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before{
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -25px;
    left: -5px;
    font-family: 'Times New Roman', Times, serif;
}

cite:before{
    content: "\201E";
    font-size:400%;
    display: block;
    position: absolute;
    bottom: 140px;
    right: 20px;
    font-family: 'Times New Roman', Times, serif;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
    margin-top: 70px;
}

cite img{
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*-----------------------------------------------*/
/*-----CONTACT-----*/
/*-----------------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #219251;
}

input[type=checkbox]{
    margin: 10px 5px 25px 0;
}

/*-----------------------------------------------*/
/*-----FOOTER-----*/
/*-----------------------------------------------*/

footer {
    background-color: #1d7a44;
    padding: 20px;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-media{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-media li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-media li:last-child{
    margin-right: 0;
}

.footer-nav li a:link, 
.footer-nav li a:visited,
.social-media li a:link,
.social-media li a:visited{
    text-decoration: none;
    border: 0;
    color: #fff;
    font-weight: 400;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #0a8a9b;
}

.social-media li a:link,
.social-media li a:visited{
    font-size: 180%;
}

.ion-social-facebook,
.ion-social-instagram,
.ion-social-twitter,
.ion-social-linkedin,
.ion-social-googleplus{
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-instagram:hover{
    color: #cd486b;
}

.ion-social-twitter:hover{
    color: #55acee;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-linkedin:hover{
    color: #007bb5;
}

footer p{
    text-align: center;
    color: #fff;
    font-size: 90%;
    margin-top: 10px;
}

.me{
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.5s, font-weight 0.5s;
    transition: color 0.5s, font-weight 0.5s;
}

.me:hover {
    color: #c80808;
    font-weight: 400;
}

/*-----------------------------------------------*/
/*-----ANIMATION-----*/
/*-----------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5 {
    opacity: 0;
}
.js--wp-6 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated {
    opacity: 1;
}